@import'./quasar.scss';
@import 'quasar/src/css/index.sass';
@import './l5r.scss';

.highlight {
    border-bottom: $secondary 2px solid;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.list-separator {
    span {
        word-break: none;
    }

    &:not(:last-child):after {
        content: ', ';
    }
}

#nprogress {
    position: absolute;
    z-index: 2001;
}

.extra-dense {
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

.text-small {
    font-size: 0.65rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 0.00714em;
}

.text-tiny {
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 0.00714em;
}
